.classes{
    margin-top: -290px;
    margin-left: 325px;
}

.classes a{
    text-decoration: none;
}

.room{
    margin-left: 20px;
}

.room2{
    margin-left: 10px;
}

hr{
    width: 695px;
}